In [1]:
import mysql.connector
import pandas as pd

from credentials import username, password

## Структура базы

![](database_structure.png)

Подключение и курсор

In [2]:
con = mysql.connector.connect(host="127.0.0.1", port=3307,
                              database="tolstoyphotos",
                              user=username, password=password)
cur = con.cursor()

## Создание таблиц

In [3]:
cur.execute("USE tolstoyphotos")

In [4]:
cur.execute("""
CREATE TABLE Authors (
  idAuthor INT NOT NULL,
  authorName VARCHAR(127),
  PRIMARY KEY (idAuthor));
""")

In [5]:
cur.execute("""
CREATE TABLE Locations (
  idLocation INT NOT NULL,
  locationName VARCHAR(255),
  PRIMARY KEY (idLocation));
""")

In [6]:
cur.execute("""
CREATE TABLE Rubrics (
  idRubric INT NOT NULL,
  rubricName VARCHAR(255),
  PRIMARY KEY (idRubric)
);""")

In [7]:
cur.execute("""
CREATE TABLE PhotoDescriptions (
  idPhoto INT NOT NULL,
  idAuthor INT,
  idLocation INT,
  year INT,
  photoDescription VARCHAR(511),
  FOREIGN KEY (idAuthor) REFERENCES Authors(idAuthor),
  FOREIGN KEY (idLocation) REFERENCES Locations(idLocation),
  PRIMARY KEY (idPhoto)
);""")

In [8]:
cur.execute("""
CREATE TABLE PhotoRubrics (
  idPhoto INT,
  idRubric INT,
  FOREIGN KEY (idPhoto) REFERENCES PhotoDescriptions(idPhoto),
  FOREIGN KEY (idRubric) REFERENCES Rubrics(idRubric)
);""")

In [9]:
cur.execute("""
CREATE TABLE MuseumAnnotations (
  idPhoto INT,
  idIdentif VARCHAR(63),
  idInv VARCHAR(63),
  originalAuthor VARCHAR(127),
  originalLocation VARCHAR(127),
  FOREIGN KEY (idPhoto) REFERENCES PhotoDescriptions(idPhoto)
);""")

In [10]:
cur.execute("""
CREATE TABLE PhotoPhysicalDescriptions (
  idPhoto INT,
  width FLOAT,
  height FLOAT,
  inscription VARCHAR(255),
  FOREIGN KEY (idPhoto) REFERENCES PhotoDescriptions(idPhoto)
);""")

In [11]:
cur.execute("""
CREATE TABLE PhotoFiles (
  idPhoto INT,
  miniatureFile VARCHAR(63),
  fullsizeFile VARCHAR(63),
  FOREIGN KEY (idPhoto) REFERENCES PhotoDescriptions(idPhoto)
);""")

In [12]:
con.commit()

## Добавление информации в таблицы

### Места съёмки

In [13]:
df_temp = pd.read_csv("db_locations.tsv", sep="\t", encoding="utf-8")
df_temp.head()

  idLocation                    locationName
0          0                        Slovаnha
1          1  Тиктон-хауз. Крайстчерч Англия
2          2                              -1
3          3                           Gfhb;
4          4                 Gunnes (Турция)

In [14]:
for row in df_temp.iterrows():
    id_location = row[1]['idLocation']
    location_name = row[1]['locationName']
    query = f"INSERT INTO Locations (idLocation, locationName) VALUES ({id_location}, '{location_name}');"
    try:
        cur.execute(query)
    except:
        print(query)

INSERT INTO Locations (idLocation, locationName) VALUES (Сальский округ Северо - Кавказского края., 'nan');

In [15]:
con.commit()

### Авторы фотографий

In [16]:
df_temp = pd.read_csv("db_authors.tsv", sep="\t", encoding="utf-8")
df_temp.head()

   idAuthor  authorName
0         0          -1
1         1  A.Dahlgren
2         2    A.Wilcke
3         3      ALBERT
4         4  Angerer V.

In [17]:
for row in df_temp.iterrows():
    id_author = row[1]['idAuthor']
    author_name = row[1]['authorName']
    query = f"INSERT INTO Authors (idAuthor, authorName) VALUES ({id_author}, '{author_name}');"
    try:
        cur.execute(query)
    except:
        print(query)

In [18]:
con.commit()

### Описание фотографии

In [19]:
df_temp = pd.read_csv("db_photo_descriptions.tsv", sep="\t", encoding="utf-8")
df_temp.head()

,id,AUTHOR_REFINED,GEOGR_REFINED,year,COMPNAM
0,115964,125,319,1908,Фотография для стереоскопа
1,136165,64,319,1903,Увеличенный переснимок
2,136603,202,319,1910,-1
3,106918,206,348,1932,Две могилы в общей чугунной ограде. За решётко...
4,142182,0,2,1930,-1

In [20]:
for row in df_temp.iterrows():
    id_photo = row[1]['id']
    id_author = row[1]['AUTHOR_REFINED']
    id_location = row[1]['GEOGR_REFINED']
    year = int(row[1]['year'])
    descr = str(row[1]['COMPNAM'])
    query = "INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) " + \
    f"VALUES ({id_photo}, {id_author}, {id_location}, {year}, '{descr}');"
    try:
        cur.execute(query)
    except:
        # дубликаты фотографий
        print(query)

INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142182, 0, 2, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142196, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141448, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140024, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92638, 0, 319, 1906, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (109197, 0, 2, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142237, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (109034, 70, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140144, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92764, 0, 162, 1924, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140150, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140151, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92765, 0, 162, 1923, 'В том числе (слева направо) во 2-м ряду: М. Хорош, П.Н. Бирюкова, Т.Л. Сухотина, С.А. Стахович, А.Б. Гольденвейзер, И.И. Горбунов-Посадов, В.Ф. Булгаков, доктор Мадэ, П.И. Бирюков, Н.Н. Гусев, С.Д. Внуков, В.И. Алексеева (Лукьянская); в 3-м ряду: К.С. Шохор-Троцкий, Е.В. Булгакова, А.В. Булгакова…, В.А. Жданов (7-й слева), С.М. Булыгин, Н.Н. Апостолов, Н.С. Родионов, В.Г. Чертков, В.В. Чертков…, В.Д. Гусева (2-я справа), Вен. Ф. Булгаков.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140145, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142034, 0, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139337, 222, 319, 1904, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (47428, 0, 319, 1917, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142236, 0, 8, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (89769, 222, 128, 1902, 'Слева направо стоят: Д.В. Никитин, С.Л. Толстой, Ю.И. Игумнова, К.Х. Классен; сидят: К.В. Волков, Л.Н. и С.А. Толстые, П.А. Буланже');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142168, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (133949, 222, 319, 1899, 'Слева направо стоят: Александра Толстая, А. Л. и О. К. Толстые, Е. Н. Малютин, А. Д. Дьяков, Л. А. Бобринский, Н. Н. Ге – сын, Ю. И. Игумнова, С. Л. Толстой, Д. Д. Дьяков, А. Д. Архангельский; сидят: Мар. А. Стахович, С. А. и Л. Н. Толстые, С. А. Стахович, А. Б. Гольденвейзер; на земле: М. А. Маклакова, Т. Л. Толстая и М. Л. Толстой, М. К. Дитерихс.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141449, 0, 319, 1920, 'Переснимок с фотографии фирмы «Шерер, Набгольц и К°" 1910 года.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (136172, 0, 319, 1884, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142181, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140033, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (135484, 216, 191, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (43710, 161, 319, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (137898, 222, 319, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (130649, 222, 129, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (97435, 213, 319, 1909, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (114264, 0, 109, 1920, 'На 1-ом плане поля (слева вспаханная часть). На 2-ом плане кирпичный завод и дома, за ними фруктовые сады и пологие горы.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141259, 0, 305, 1926, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (114271, 0, 109, 1920, 'На 1-ом плане заросли малины; на 2-ом - справа жилой дом, баня, конюшня, фруктовый склад и бочка для запаса воды.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140813, 186, 319, 1903, 'Слева направо в 1-м ряду: Д.В. Никитин, М.М. Сухотин, М.Л. Толстой с Онисимом Денисенко, И.Л. Толстой, А.Л. Толстой, А.А. Берс; во 2-м ряду: В.И. Сидоркова, Е.С. Денисенко, О.К. Толстая с дочерью Соней Толстая, С.А. и  Л.Н. Толстые, М.Л. Оболенская, Д.Ф. Толстая, С.Т. Семенов; в 3- ряду: Ю.И. Игумнова, Н.Л. Оболенский, В.А. Кузминская, П.А. Буланже, А.Б. Гольденвейзер, И.И. Горбунов-Посадов, К.В. Орлов, Л.Л. Толстой, С.Л. Толстой, А.Л. Толстая, Т.Л. Сухотина, П.А. Сергеенко, А.И. Толстая.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (109036, 70, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (137912, 222, 319, 1899, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (109195, 0, 2, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (136198, 0, 319, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (99753, 216, 319, 1905, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140032, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140026, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140740, 0, 2, -1, 'Фото двух силуэтов');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (137537, 0, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142180, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142194, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (93291, 0, 319, 1916, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140022, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140036, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (46686, 216, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140591, 0, 168, 1916, 'Слева направо стоят у стены: М.И. Хорош, братья Радины, В.А. Молочников, В.Г. Чертков, М.С. Дудченко, А.В. Молочников, неизвестный, А.Е. Никитин-Хованский. Сидят: М.С. Радина, И.М. Трегубов, Д.П. Маковицкий, А.К. Черткова, А.А. Радин (отец), С.М. Попов, неизвестный, Я.Л. Демихович. Сидят на полу: К.Д. Платонова, В.С. Ляпунова, неизвестный.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (128771, 222, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139330, 222, 319, 1903, 'Справа, у крыльца стоит Л.Л. Толстой.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141260, 0, 210, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142027, 0, 319, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (114261, 0, 109, 1924, 'На берегу реки дома, фруктовые сады. На 1-ом плане элеватор, фабрика варенья, склады торговые и дом П.В.Веригина (с открытой террасой). На 2-ом плане пологие горы.');

INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92762, 0, 319, 1922, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140156, 200, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142033, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92777, 216, 128, 1902, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140143, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140157, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139331, 222, 319, 1903, 'Профиль влево, в светлой блузе.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92561, 0, 319, 1918, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (43714, 161, 319, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (122467, 0, 319, 1916, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140037, 0, 319, 1900, 'Л.Н.Толстой спиной, идет по лугу с палкой в правой руке и простыней в левой. На заднем плане - Т.А.Кузминская (справа), С.А.Толстая и А.Л.Толстая');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (93292, 0, 271, 1923, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142193, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (102992, 0, 2, 1915, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92577, 0, 162, -1, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92563, 0, 163, 1914, 'Табличку с № поезда держит в руках санитар Эмилио Феррарис');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (97194, 222, 319, 1896, 'Слева на право: Л.Н. Толстой, М.Л. Оболенская,  и А.Л. Толстая, Н.Л. Оболенский.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139333, 222, 319, 1903, 'Профиль вправо, в светлой блузе.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (111332, 222, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142024, 0, 319, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (114262, 0, 109, 1924, 'На огромной поляне по обе стороны от столика с фруктами и цветами (в центре) стоят и сидят группы мужчин и мальчиков (слева), женщин и девочек (справа). Около стола стоит П.В.Веригин.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142031, 0, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92774, 161, 319, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142019, 0, 2, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139326, 222, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92562, 0, 309, 1915, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (126979, 0, 60, 1902, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (130699, 0, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (99741, 216, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141458, 0, 319, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (136674, 0, 319, 1921, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (106947, 0, 340, 1902, 'У деревянной ограды на могиле каменная плита с выбитым текстом завещания потомству Бондарева, справа стоит плита с выбитым текстом - выдержками из сочинений Бондарева. Перед плитой деревянный стол с выдвижным ящиком для хранения рукописей Бондарева. Кое-где лежит снег.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142122, 0, 319, 1936, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (97284, 212, 319, 1909, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142254, 0, 2, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141985, 0, 2, 1900, 'Справа неизвестная девочка.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141991, 0, 2, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142095, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (264, 222, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142057, 0, 2, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (110922, 70, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142094, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142241, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139181, 222, 319, 1903, 'Слева направо сидят на земле: Д.В. Никитин, М.М. Сухотин, М.Л. Толстой, О.И. Денисенко, И.Л. Толстой, А.Л. Толстой, А.А. Берс. Во 2-м ряду: В.И. Сидоркова, Е.С. Денисенко, О.К. Толстая с дочерью Соней, С.А. Толстая, Л.Н. Толстой, М.Л. Оболенская, Д.Ф. Толстая, С.Т. Семёнов. Стоят: Ю.И. Игумнова, Н.Л. Оболенский, В.А. Кузминская, П.А. Буланже, А.Б. Гольденвейзер, И.И. Горбунов-Посадов, В. Орлов, Л.Л. Толстой, С.Л. Толстой, А.Л. Толстая, П.А. Сергеенко, Т.Л. Толстая, А.И. Толстая.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141984, 0, 2, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142255, 0, 2, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (109687, 128, 234, 1856, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (111221, 0, 162, 1905, 'Внизу на картоне дарственная надписьВ.Г.Черткову и росписи портретируемых.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142123, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140044, 0, 319, 1902, 'Сидят на диване в зале яснополянского дома, Л.Н. в халате');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (99731, 222, 166, 1898, 'Рядом с Толстым дети артельщика М. Н. Румянцева – Илья и Николай.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142121, 0, 319, -1, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (97278, 241, 319, 1909, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (107643, 70, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141979, 0, 319, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142257, 0, 2, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141986, 0, 2, 1900, 'Раскрашенная фотография.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139183, 222, 319, 1903, 'Слева Т.Л. Толстая, О.К. Толстая с дочерью Соней и И.И. Горбунов-Посадов.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142096, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (110920, 70, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142069, 154, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (110921, 70, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142097, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142256, 0, 2, 1920, '-1');

INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142242, 0, 2, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141978, 0, 319, 1901, 'Стоят  на площадке около крыльца.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139169, 222, 319, 1909, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (97292, 241, 351, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142120, 0, 319, -1, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140045, 0, 319, 1902, 'Сидят на диване у круглого стола в зале яснополянского дома');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (106945, 0, 340, 1900, 'На первом плане ограда из горизонтальных в четыре яруса брёвен, скреплённых 10-ю столбами с завершениями в виде усечённых конусов. Внутри ограды тонкоствольные деревца с голыми ветками. Вокруг ограды лежат в беспорядке брёвна, жерди. Кое-где лежит снег.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (23243, 241, 319, 1907, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142130, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142124, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141983, 0, 319, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (48233, 209, 319, 1887, 'Слева направо: Л. Н. Толстой, М. А. Стахович, Т. Л. Толстая, М. А. Кузминская, М. Л. Толстая, С. Л. Толстой, С. А. Толстая. На ширме сидят Андрей и Михаил Толстые.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92729, 222, 128, 1902, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142050, 0, 2, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (134879, 222, 166, 1898, 'Слева направо: С.А. и Л.Н. Толстые, Д.А. Олсуфьев и П. С. Усов (позади них), П. П. Трубецкой, П. А. Сергеенко (сзади), В. В. Голицын (стоит), Н. С. Лопухин, Л.М. Сухотин (стоит), М.А. Маклакова, С.Э. Дмитриева-Мамонова, А.Л. Толстая (стоит), М.С. Сухотин, П.И. Раевский, сёстры В.Ф. и Е.Ф. Соллогуб.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (41564, 0, 13, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142092, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (136049, 0, 2, 1860, 'Фотография с даггеротипа (к. 1840-х г.г.?)');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (134886, 222, 319, 1899, 'Слева направо: А.Л. Вельш, О.К. Толстая, Дж. Мэвор, Л.Н. Толстой, М.Н. Толстая, С.А. Толстая, Ш. Саломон, Н.Н. Ге-сын, Т.Л. Толстая, Александра Толстая.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141982, 0, 319, 1901, 'Справа няня с Сонечкой (Андреевной) на руках.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (706, 222, 319, 1910, 'На обороте автограф С.А. Толстой "23 сентября 1910 г. Не удержать!"');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (137747, 222, 319, 1906, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (100699, 222, 166, 1898, 'Слева направо: С. А. и Л. Н. Толстые, Д. А. Олсуфьев и П. С. Усов (позади них), П. П. Трубецкой, П. А. Сергеенко (сзади), В. В. Голицын (стоит), Н. С. Лопухин, Л. М. Сухотин (стоит), М. А. Маклакова, С. Э. Дмитриева-Мамонова, А. Л. Толстая (стоит), М. С. Сухотин, П. И. Раевский, сёстры В. Ф. и Е. Ф. Соллогуб.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142125, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141438, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142131, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (97081, 222, 319, 1896, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (97083, 222, 319, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (122638, 0, 22, 1907, 'Переснимок');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139230, 0, 119, 1890, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (133709, 0, 319, 1905, 'Оля и Боря по краям. В центре двое приёмных.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (130599, 0, 162, 1887, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (99737, 222, 128, 1902, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142127, 0, 319, -1, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142133, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (44783, 222, 319, 1895, 'Слева направо: Александра Толстая, В.С. Толстая, М.Л. Толстая, С.А. Толстая, А.Л. Толстой (стоит), Миша Толстой (стоит), Л.Н. Толстой, В.Г. Чертков (стоит), Т.Л. Толстая, С.И. Танеев и Дмитрий Дьяков (стоит).');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139967, 222, 332, 1898, 'П.П.Трубецкой сидит справа, у самовара - С.А.Мамонова, слева сидят: М.А.Маклакова, А.Л.Толстая, П.И.Раевский, В.Ф. и Е.Ф.Соллогуб, во втором ряду сидят: Бутенев и Т.Л.Толстая, стоят Дм.Адамович Олсуфьев, П.А.Сергеенко, Голицын, Л.М.Сухотин и М.С.Сухотин.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (738, 222, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92500, 222, 60, 1902, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (89493, 222, 128, 1902, 'Слева направо: А. Л. Толстая, Н. Л. Оболенский, Л. Н. Толстой, С. Л. Толстой(стоит), Н. Н. Ге – сын, Н. Л. Оболенская, Ю. И. Игумнова и М. Л. Оболенская (рожд. Толстая).');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142090, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92716, 222, 319, 1897, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142046, 0, 309, 1915, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (249, 222, 128, 1902, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92501, 222, 60, 1902, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142244, 0, 2, 1920, 'Раскрашенная фотография.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141981, 0, 319, 1901, 'Стоят на площадке около крыльца.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (107644, 70, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142132, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142126, 0, 319, -1, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (130556, 0, 2, 1846, 'Фотография в овальном гнезде с металлическим обрамлением под стеклом. Фрагмент.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139162, 222, 319, 1907, '-1');

INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (114755, 0, 247, 1900, 'На реке однопалубный пароход с надписью на полукруге в центре «Громовъ»; за кормой (слева) на привязи плывет лодка). На судне наверху в центре на корме и на носу пассажиры разных слоев общества (мужчины; женщины - большинство в шляпках, некоторые под зонтиками; девочки все смотрят в строну объектива). На 2-ом плане пологий пустынный берег. Над изображением автограф Вал.Ф.Булгакова, внизу на фото и картоне этикетка с м/п текстом.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142261, 0, 2, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141026, 0, 2, 1856, 'Переснимок фотографии С.Левицкого 1856 г.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141032, 222, 319, 1899, 'Слева направо: А. Л. Толстой, Н. Н. Ге – сын, А. Д. Архангельский, С. Л. и Т. Л. Толстые, М. Н. Толстая, Ш. Саломон и Л. Н. Толстой, С. А. Толстая, крестьянские девочки и Александра Толстая.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (137365, 222, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140106, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (250, 222, 60, 1902, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140107, 0, 319, 1906, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (137364, 241, 29, 1906, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139349, 222, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (135215, 222, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (286, 222, 319, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141027, 222, 157, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (137953, 222, 319, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (98168, 222, 319, 1896, 'Фотография С. А. Толстой. Слева направо (на крыльце): Е. В. Оболенская, М. Л. Толстая, Александра Толстая; на 1-м плане: Михаил Толстой, Э. Борель, Д. Д. Дьяков, В. А. Маклаков, Л. Н. Толстой.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141423, 241, 29, 1906, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142128, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139968, 222, 332, 1898, 'Справа сидят: П.П.Трубецкой, В.А.Маклаков, М.А.Маклакова, С.А.Мамонова, справа - у стола сидят: М.С.Сухотин, П.И.Раевский, В.Ф. и Е.Ф. Соллогуб, слева во втором ряду сидят Д.А.Олсуфьев и П.А.Сергеенко, стоят Голицын, Л.М.Сухотин и А.Л.Толстая.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (104592, 241, 263, 1909, 'Л.Н. Толстой справа, профиль влево, в тёмном пальто и шляпе, с тростью в руках, слева О.К. Толстая почти со спины. На втором плане часть бревенчатого дома.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142262, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (96027, 241, 80, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (737, 222, 319, 1897, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (109061, 222, 319, 1902, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141025, 0, 337, 1925, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (89488, 222, 319, 1899, 'Слева направо: А. Л. Толстой, Н. Н. Ге – сын, А. Д. Архангельский, С. Л. и Т. Л. Толстые, М. Н. Толстая, Ш. Саломон и Л. Н. Толстой, С. А. Толстая, крестьянские девочки и Александра Толстая.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142048, 0, 2, 1916, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92718, 222, 319, 1897, 'Слева направо сидят: С. А., Т.Л. и Л. Н. Толстые;
стоят: Александра Толстая,
А. К. Син-Джон, Д.Ф. Толстая, А.Н. Дунаев, С.Т. Семёнов, П.А. Буланже.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (89476, 222, 319, 1887, 'Слева направо: Сергей Толстой, Лев (Львович) Толстой, Л. Н. Толстой с дочерью Сашей, Михаил, Илья и Татьяна Толстые;верхний ряд: Мария Толстая, С. А. Толстая, Андрей Толстой.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (246, 161, 319, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (89489, 222, 319, 1899, 'Слева направо стоят: Александра Толстая, А. Л. и О. К. Толстые, Е. Н. Малютин, А. Д. Дьяков, Л. А. Бобринский, Н. Н. Ге – сын, Ю. И. Игумнова, С. Л. Толстой, Д. Д. Дьяков, А. Д. Архангельский; сидят: Мар. А. Стахович, С. А. и Л. Н. Толстые, С. А. Стахович, А. Б. Гольденвейзер; на земле: М. А. Маклакова, Т. Л. Толстая и М. Л. Толстой, М. К. Дитерихс.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (110928, 70, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (736, 222, 319, 1896, 'Слева направо стоят: Л.Н. Толстой, Н.Л. Оболенский, М.Л. Толстая.
Сидят: С.А. Толстая, А.Л. Толстая, М.А. Шмидт.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142263, 0, 319, 1930, 'Среди прочих: И.В. Сидорков, М.А. Цявловский, В.В. Наум, К.Д. Платонова и др.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (132784, 0, 234, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142129, 0, 2, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (137549, 161, 319, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141424, 0, 29, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (99729, 222, 319, 1895, 'Слева направо: Александра Толстая, В.С. Толстая, М. Л. Толстая, Э. Борель, А.Л. Вельш, Андрей Толстой, С.А. Толстая, А.А. Курсинский, Л.Н. Толстой, Т.Л. Толстая, Д.Д. Дьяков, С.И. Танеев, Михаил Толстой.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140712, 222, 60, 1902, 'Л.Н. полулежит в кровати под пестрым одеялом, руки лежат на одеяле. Справа сидит в кресле, сложив руки  С.А');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (134291, 161, 311, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92734, 211, 126, 1910, 'Слева направо: и М.С. Сухотин, Л.Н. Толстой с внучкой Таней Сухотиной, Л.М. Сухотин (сзади), С.М. Сухотин, Т.Л. Сухотина за руку с Микой Сухотиным (сыном пасынка Льва).');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142064, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (135213, 222, 319, 1899, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (733, 222, 319, 1899, 'Слева направо: Ш. Саломон, М.Н. Толстая, М.Л. Толстой, Т.Л. Толстая, Л.Н. Толстой, Н.Н. Ге (сын).
Стоят: С.А. Толстая, Джеймс Мэвор, С.Л. Толстой, Д.Д. Дьяков, А.Л. Толстая, А.Л. и О.К. Толстые, А.Л. Вельш.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142266, 0, 319, 1934, 'В верхнем ряду: С.Л. Толстой, управляющий Ясной Поляной, неизвестный, Х.Н. Абрикосов, М. А. Цявловский; в центре: неизвестный, неизвестный, А.И. Попова; на 1-м плане: неизвестный, К.Д. Платонова, Е.С. Денисенко, Н.Л. Оболенская, С.И. Щёголев.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139159, 222, 319, 1903, 'Слева направо стоят: И.Л. Толстой, А.Л. Толстая, С.Н. Толстая, И.В. Денисенко, Н.М. Сухотина, Д.В. Никитин, А.И. Толстая; сидят во 2-м ряду: С.А. Толстая с внуком В.И. Толстым, Л.Н. Толстой, Е.С. Денисенко, М.И. и А.И. Толстые, М.Н. Толстая. Сидят на земле: О.И. Денисенко, И.И. Толстой и Т.И. Денисенко.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (134290, 222, 128, 1902, '-1');

INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141425, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (23249, 241, 2, 1909, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140739, 0, 2, -1, 'Фото с миниатюры акварелью');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (137758, 222, 319, 1906, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (134292, 222, 128, 1902, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139167, 222, 319, 1909, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (91955, 0, 2, 1890, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (100719, 222, 319, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141989, 0, 319, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142258, 0, 2, 1912, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (282, 211, 120, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140103, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142067, 0, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140102, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142259, 0, 2, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141988, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (134293, 222, 128, 1902, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (97289, 212, 347, 1909, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (133271, 161, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (97074, 222, 60, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142174, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (114332, 0, 109, 1920, 'На 1-ом плане слева - лесопильный завод, справа - слесарная мастерская. В центре на втором плане, на взгорке - два жилых дома. По обе стороны пологие горы, поросшие редкими елями.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141441, 0, 2, 1922, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140039, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (130086, 0, 319, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (41723, 186, 319, 1903, 'Слева направо в 1-м ряду: Д.В. Никитин, М.М. Сухотин, М.Л. Толстой с Онисимом Денисенко, И.Л. Толстой, А.Л. Толстой, А.А. Берс;
во 2-м ряду: В.И. Сидоркова, Е.С. Денисенко, О.К. Толстая с дочерью Соней Толстая, С.А. и  Л.Н. Толстые, М.Л. Оболенская, Д.Ф. Толстая, С.Т. Семенов;
в 3- ряду: Ю.И. Игумнова, Н.Л. Оболенский, В.А. Кузминская, П.А. Буланже, А.Б. Гольденвейзер, И.И. Горбунов-Посадов, К.В. Орлов, Л.Л. Толстой, С.Л. Толстой, А.Л. Толстая, Т.Л. Сухотина, П.А. Сергеенко, А.И. Толстая.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92792, 222, 319, 1896, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142015, 0, 2, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142203, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (137924, 222, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142363, 0, 2, 1912, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (46677, 222, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (99759, 222, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142175, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (135470, 241, 29, 1906, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (40947, 184, 162, 1898, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140006, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (133956, 222, 319, 1903, 'около «дерева бедных» стоит Л.Л. Толстой.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142177, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (94914, 61, 319, 1905, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (110427, 241, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (46926, 222, 319, 1896, 'Слева направо: А.А. Шкарван, А.Л. Толстой, М.Л. Толстая, Н.Л. Оболенский, Д.Ф. Толстая, Л.Л. Толстой, Александра Толстая, С.Л. Толстой, Л.Н. и С.А. Толстые.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142201, 0, 2, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (46729, 222, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (126977, 0, 2, 1898, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139328, 222, 319, 1903, 'Около лошади кучер И.В. Егоров.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (48507, 222, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139329, 222, 319, 1903, 'Слева на заднем плане О.К. Толстая с дочерью Соней.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92633, 222, 319, 1907, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142176, 0, 166, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (40946, 162, 311, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (93288, 0, 319, 1920, 'На первом плане - Е.И. Гвоздева (рожд. Долина-Ивановская),  М.А. Толстая. Во втором ряду: Т.М. Сухотина, Данилова (?) и Т.Л. Толстая-Сухотина.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141490, 0, 162, 1906, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141447, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (94520, 222, 319, 1899, 'внук Льва Николаевича Толстого');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (133953, 222, 319, 1903, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142172, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (139926, 0, 2, 1906, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (109629, 0, 11, 1861, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (137923, 222, 319, 1896, '-1');

INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (47618, 200, 319, 1908, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (234, 222, 319, 1897, 'Фотография, сделанная для скульптора И.Я. Гинцбурга.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (114269, 0, 109, 1920, 'На 1-ом плане огромное поле. На 2-ом жилой дом, амбар для хлеба, кирпичный и лесопильный заводы. Слева и справа от строений - фруктовые сады.Вдали пологие горы с редкими елями.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142205, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (137922, 222, 319, 1905, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (132696, 222, 319, 1898, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (135648, 222, 319, 1897, 'Слева направо: Л. Н. Толстой, Н. Л. Оболенский, Александра и Мария Толстые, С. А. Толстая, А. Б. Гольденвейзер, Т. Л. Толстая.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142173, 0, 2, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141446, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142198, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (92191, 222, 319, 1905, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141450, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140028, 0, 319, 1900, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141444, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140982, 222, 319, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (91856, 8, 257, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (102958, 8, 257, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (134408, 161, 311, 1901, 'Переснимок.');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140835, 222, 319, 1903, 'Слева направо сидят на земле: О.И.Денисенко, И.И.Толстой, Т.И.Денисенко; во втором ряду: С.А.Толстая с В.И.Толстым на коленях, Л.Н.Толстой, Е.С.Денисенко, М.И.Толстой, А.И.Толстой, М.Н.Толстая; стоят: И.Л.Толстой, А.Л.ТолстаяЮ С.Н.Толстая, И.В.Денисенко, Н.М.Сухотина, Д.В.Никитин, А.И.Толстая');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (236, 222, 162, 1898, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (91857, 8, 257, 1901, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (142170, 0, 319, 1920, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (140983, 222, 319, 1910, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141445, 0, 319, 1930, '-1');
INSERT INTO PhotoDescriptions (idPhoto, idAuthor, idLocation, year, photoDescription) VALUES (141451, 0, 319, 1920, '-1');

In [21]:
con.commit()

### Музейные пометы

In [22]:
df_temp = pd.read_csv("db_museum_annotations.tsv", sep="\t", encoding="utf-8")
df_temp.head()

,id,IDENTIF,INV,AUTHOR,GEOGR
0,115964,ГМТ КП-11486/21,Ф-12746,Кулаков П.Е.,Ясная Поляна
1,136165,ГМТ КП-5954/3,Ф-1125,Бодянский И.А.,Ясная Поляна
2,136603,ГМТ КП-5680/6,Ф-1469,Смирнов,Ясная Поляна
3,106918,ГМТ КП-7448/1,Ф-1597,Соловьев В.С.,с. Никольское Московской губ.
4,142182,ГМТ КП-13123/82,Ф-13637/82,-1,-1

In [23]:
for row in df_temp.iterrows():
    id_photo = row[1]['id']
    identif = row[1]['IDENTIF']
    inv = row[1]['INV']
    author_orig = str(row[1]['AUTHOR'])
    geogr_orig = str(row[1]['GEOGR'])
    query = "INSERT INTO MuseumAnnotations (idPhoto, idIdentif, idInv, originalAuthor, originalLocation) " + \
    f"VALUES ({id_photo}, '{identif}', '{inv}', '{author_orig}', '{geogr_orig}');"
    try:
        cur.execute(query)
    except:
        print(query)

In [24]:
con.commit()

### Физическое описание фотографий

In [25]:
df_temp = pd.read_csv("db_physical_descr.tsv", sep="\t", encoding="utf-8")
df_temp.head()

       id  width  height INSCR
0  115964    7.4     7.1    -1
1  136165   17.8    23.5    -1
2  136603   10.3    16.5    -1
3  106918   10.3    16.7    -1
4  142182    6.0     5.4    -1

In [26]:
for row in df_temp.iterrows():
    id_photo = row[1]['id']
    width = float(row[1]['width'])
    height = float(row[1]['height'])
    inscr = row[1]['INSCR']
    query = "INSERT INTO PhotoPhysicalDescriptions (idPhoto, width, height, inscription) " + \
    f"VALUES ({id_photo}, {width}, {height}, '{inscr}');"
    try:
        cur.execute(query)
    except:
        print(query)

In [27]:
con.commit()

### Файлы

In [28]:
df_temp = pd.read_csv("db_files.tsv", sep="\t", encoding="utf-8")
df_temp.head()

       id                 miniature_path                 fullsize_path
0  115964  ./data/miniature/00115964.jpg  ./data/fullsize/00115964.jpg
1  136165  ./data/miniature/00136165.jpg  ./data/fullsize/00136165.jpg
2  136603  ./data/miniature/00136603.jpg  ./data/fullsize/00136603.jpg
3  106918  ./data/miniature/00106918.jpg  ./data/fullsize/00106918.jpg
4  142182  ./data/miniature/00142182.jpg  ./data/fullsize/00142182.jpg

In [29]:
for row in df_temp.iterrows():
    id_photo = row[1]['id']
    mini = row[1]['miniature_path']
    full = row[1]['fullsize_path']

    query = "INSERT INTO PhotoFiles (idPhoto, miniatureFile, fullsizeFile) " + \
    f"VALUES ({id_photo}, '{mini}', '{full}');"
    try:
        cur.execute(query)
    except:
        print(query)

In [30]:
con.commit()

### Рубрики

#### Список рубрик

In [31]:
df_temp = pd.read_csv("db_rubrics.tsv", sep="\t", encoding="utf-8")
df_temp.head()

   idRubric                                        rubricName
0         0                       Портреты (в т.ч. групповые)
1         1  1900-е годы (юбилей в 1908г – отдельная рубрика)
2         2              Похороны Л.Н.Толстого в Ясной Поляне
3         3                      Могилы и похороны разных лиц
4         4                       Писатели, поэты, литераторы

In [32]:
for row in df_temp.iterrows():
    id_rubric = row[1]['idRubric']
    rubric_name = row[1]['rubricName']
    query = "INSERT INTO Rubrics (idRubric, rubricName) " + \
    f"VALUES ({id_rubric}, '{rubric_name}');"
    try:
        cur.execute(query)
    except:
        print(query)

In [33]:
con.commit()

#### Связь рубрик и фотографий

In [34]:
df_temp = pd.read_csv("db_rubrics_photos.tsv", sep="\t", encoding="utf-8")
df_temp.head()

   idPhoto  idRubric
0   115964         0
1   136165         1
2   136603         2
3   106918         3
4   142182         4

In [35]:
for row in df_temp.iterrows():
    id_photo = row[1]['idPhoto']
    id_rubric = row[1]['idRubric']
    query = "INSERT INTO  PhotoRubrics(idPhoto, idRubric) " + \
    f"VALUES ({id_photo}, {id_rubric});"
    try:
        cur.execute(query)
    except:
        print(query)

In [36]:
con.commit()

## Закрываем соединение

In [37]:
con.close()